[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = git@github.com:twitter/bootstrap.git
[submodule "lib/tweet"]
	path = lib/tweet
	url = git://github.com/seaofclouds/tweet.git
[submodule "lib/leaflet"]
	path = lib/leaflet
	url = https://github.com/CloudMade/Leaflet.git
