---
layout: home
description: Working together with consortia leaders to provide solutions for consortium identity, communication consulting, infrastructure, and active content management.
title: Home
weight: 0
group: menu
---

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <center>
    <h1 class="hidden">{{ site.title }}</h1>
    <a href="/">
      <img src="{{ site.IMG_PATH }}/oc_logo_600.png" alt="openconsortium-logo"/>
    </a>
    <!-- <h2>{{ site.slogan }}</h2> -->
  </center>
</div>

<!-- Row of 2 columns -->
<div id="products" class="row">
  <div class="span6">
    <h2>Technology</h2>
    <h1><small>Open-source tech solutions to drive your consortium</small></h1>
      <p>
      We speak the language of science and take your headache away with our technology solutions. Our modular packages include web solutions for external communication based on open-source software, design of the identity for your consortium, as well as data and knowledge sharing infrastructure and full laboratory information management systems for handling internal data exchange.
      </p>
    <div class="more-link">
      <a class="btn btn-info" href="/technology.html">Learn more &raquo;</a>
    </div>
  </div>
  
  <div class="span6">
    <h2>Communication</h2>
    <h1><small>Strategies for the public dissemination of your science</small></h1>
    <p>We take care of communicating your results - focused to science-savvy communities or to the general public. We offer regular website updates, reports from conferences and meetings, background articles, press releases and much more. We use classical routes, as well as new media tools for the dissemination of your results. We understand what you work on and we are experienced in communicating science to the public.</p>
    <div class="more-link">
      <a class="btn btn-info" href="/communication.html">Learn more &raquo;</a>
    </div>
  </div>
</div>

<hr/>

<!-- Your consortium is unique, show it
We provide unique and professional visual solutions for your consortium - developed by top-notch designers. Our Consortium Identity package contains more than just a great logo. Letterheads, presentation templates, poster layouts, business cards. We cover all visual aspects of your consortium.

So you can focus on what you are good at
We set up and maintain the communication infrastructure tailored to your needs.  -->

<!-- <div id="slogan" class="row">
  <div class="well well-large">
    <div class="slogan-text">
      Open Consortium provides Tech and Communication Solutions for Consortia in the Life Sciences.
    </div>
      <a class="btn btn-large btn-info" href="/contact" title="Contact Us">Contact Us</a>
  </div>
</div>

<hr/> -->

<!-- Row of 2 columns -->
<div id="talk" class="row">

  <div class="span6">
    <h2>We tweet</h2>
    <!-- <div class="tweet"></div> -->
    <!-- <a class="twitter-timeline" href="https://twitter.com/openconsortium" data-widget-id="243807105688145921">Tweets by @openconsortium</a> -->
    <a class="twitter-timeline" href="https://twitter.com/openconsortium" data-widget-id="244516077642588161">Tweets by @openconsortium</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>    
  </div>

  <div class="span6">
    <h2>We blog</h2>
    
    {% for post in site.categories.blog  %}
    
      <div class="row">
        <span class="span1">
          <!-- Find the author -->
          {% for author in site.categories.team %}
            {% if author.author == post.author %}
              <a href="{{ BASE_PATH }}{{ post.url }}">
                <img src="{{ author.avatar }}_s.jpg" alt="{{ author.title | downcase | replace: ' ', '-'}}" title="{{ author.title }}" class="img-polaroid" width="75" height="75" />
              </a> 
            {% endif %}  
          {% endfor %}
        </span>
        
        <span class="span5">        
          <div class="teaser-home">
            <a href="{{ BASE_PATH }}{{ post.url }}" title="{{ post.title }}">
            <h4>{{ post.title }} <small>{{ post.date | date_to_long_string }}</small></h4>
            {{ post.content | strip_html | truncatewords:20}}
            </a>
          </div>
        </span>
      </div>

      {% if forloop.last == false %}
        <hr/>
      {% endif %}

    {% endfor %}
    
    <br/>
    <p class="more-link">
      <strong>
        <a title="Read more blog posts" href="/blog"> Read more blog posts</a>
        →
      </strong>
    </p>
        
 </div>

</div>



