---
layout: home
description: Working together with consortia leaders to provide solutions for consortium identity, communication consulting, infrastructure, and active content management.
title: Home
weight: 0
group: menu
---

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <center>
    <h1 class="hidden">{{ site.title }}</h1>
    <a href="/">
      <img src="{{ site.IMG_PATH }}/oc_logo_600.png" alt="openconsortium-logo"/>
    </a>
    <h2>{{ site.slogan }}</h2>
  </center>
</div>

<!-- Row of 2 columns -->
<div id="products" class="row">
  <div class="span6">
    <h2>Technology</h2>
    <h3>Your consortium is unique, show it</h3>
    <p>We provide unique and professional visual solutions for your consortium - developed by top-notch designers. Our Consortium Identity package contains more than just a great logo. Letterheads, presentation templates, poster layouts, business cards. We cover all visual aspects of your consortium.</p>
    <!-- <p><a class="btn" data-toggle="modal" href="#a">Learn more &raquo;</a></p> -->
  </div>
  
  <div class="span6">
    <h2>Communication</h2>
    <h3>Communication strategies for the public dissemination of your science.</h3>
    <p>We take care of communicating your results - focused to science-savvy communities or to the general public. We offer regular website updates, reports from conferences and meetings, background articles, press releases and much more. We use classical routes, as well as new media tools for the dissemination of your results. We understand what you work on and we are experienced in communicating science to the public.</p>
    <!-- <p><a class="btn" data-toggle="modal" href="#a">Learn more &raquo;</a></p> -->
  </div>
</div>

<!-- Row of 2 columns -->
<div id="about" class="row">

  <div class="span6">
    <h2>We tweet...</h2>
    <a class="twitter-timeline" href="https://twitter.com/openconsortium" data-widget-id="243807105688145921">Tweets by @openconsortium</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <div class="span6">
    <h2>... and we blog</h2>

    {% assign posts_collate = site.posts %}
    {% assign posts_max = 2 %}    
    {% capture category_filter %}{{ page.url | replace_first: '/', '' | replace: site.JB.archive_path, '' | replace: '/index.html', '' }}{% endcapture %}

    <ul class="thumbnails">
    {% for post in posts_collate  %}

      {% if post.category == category_filter or category_filter == '_all' %}
        {% if posts_max > 0 %}
          {% posts_max | minus: 1 | posts_max %}
          {{ posts_max | debug }}
          <li class="span6">
            <a href="{{ post.url }}">  
              <div class="row">      
                <div class="span2">
                  <div class="thumbnail">
                    {% if post.default_image.thumb %}
                      {% capture default_image_thumb %}{{ post.default_image.thumb }}{% endcapture %}
                    {% else %}
                      {% capture default_image_thumb %}{{ site.blog.default_image.thumb }}{% endcapture %}
                    {% endif %}
                    <img class="thumb" src="{{ default_image_thumb }}" alt="">
                    {% assign default_image_thumb = nil %}
                  </div>
                </div>
                <div class="span4">
                  <div class="caption">
                    <h5>{{ post.title }}</h5>
                    <p>{{ post.description }}</p>
                    <p>{{ post.date | date: "%e %B %Y" }}</p>
                  </div>
                </div>
              </div>
            </a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>

    {% assign posts_collate = nil %}
    {% assign category_filter = nil %}
 </div>

</div>



