section.showcase-intro

  include ../_partials/_rocket_animation

  p.showcase-intro__phrase Showcase

.showcase-intro__context

  h1.showcase-intro__context-title

  p.showcase-intro__context-content Often the best way to convey an idea or a message, is to show it. Therefore we invite you to see some of our work showcased below.

  p.showcase-intro__context-subtitle Discover our work


.showcase-list

  include ../_partials/_oc_showcase

