section.showcase-intro

  include ../_partials/_rocket_animation

  p.showcase-intro__phrase Showcase

.showcase-intro__context

  h1.showcase-intro__context-title

  p.showcase-intro__context-content The best way to explain our work is to show it. Enjoy a selection of the websites we built.

  p.showcase-intro__context-subtitle Discover our work


.showcase-list

  include ../_partials/_oc_showcase

