section.showcase__intro
  include ../_partials/_rocket_animation
  p.showcase__intro-phrase Showcase page

.showcase__context-intro
  h1.showcase__context-title
  p.showcase__context-content Often the best way to convey an ideia or a message, is to show it. Therefor we invite you to see some of our work showcased below.
  p.showcase__context-subtitle Discover our work


