//
// Initialization partial
//
// To make it easier to use all variables and mixins in any Sass file.
// This is then called in app.scss and is available for all other files.
//
// This initialization partial is organized in this way:
// - First we set any shared Sass variables.
// - Next we import Compass plug-ins (Sass mixin libraries).
//
$graceful-usage-threshold: 0.2;

// =============================================================================
// Variables
// =============================================================================

//
// Font faces, stacks and sizes.
//

// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page. You can see some of its mixins and functions in
// use in the normalize.scss file.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/

$base-font-family: "Roboto", sans-serif;
$code-font-family: "Roboto", monospace;
$base-font-size:   21px; // The font size set on the root html element.
$base-line-height: 8px; // This line-height determines the basic unit of vertical rhythm.
//$georgia: Georgia, Times, "Times New Roman", serif;

$h1-font-size: 45px;
$h2-font-size: 27px;
$h3-font-size: 24px;
$h4-font-size: 21px;
$h5-font-size: 12px;
$h6-font-size: 9px;

//
// Colors, etc.
//

$palettes: (
  black: (
    base: rgb(0, 0, 0) // #000 palette(black)
  ),
  grey: (
    xxx-light: rgb(249, 249, 249), // #F9F9F9 palette(grey, xxx-light)
    xx-light: rgb(210, 210, 210), // #d2d2d2 palette(grey, xx-light)
    x-light: rgb(149, 149, 149), // #959595 palette(grey, x-light)
    base: rgb(210, 210, 210), // #c5ccd1 palette(grey)
    mid-dark: rgb(51, 51, 51) // #333333 palette(grey, mid-dark)
  ),
  white: (
    base: rgb(255, 255, 255) // #fff palette(white)
  ),
  ocblue: (
    base: rgb(0, 179, 208), // #00b3d0 palette(ocblue)
    mid-dark: rgb(43, 62, 81), // #2b3e51 palette(ocblue, mid-dark)
    dark: rgb(0, 46, 67), // #002e43 palette(ocblue, dark)
    x-dark: rgb(5, 38, 53) // #052635 palette(ocblue, x-dark)

  )
);


//
// Breakpoints.
//
$break-small: 480px;
$break-medium-small: 600px;
$break-medium: 730px;
$break-large: 980px;
$break-big: 1200px;


//
// Grids.
//
// We are going to create a 1240px wide, 6 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$susy: (
  columns: 6,
  gutters: 1/6,
  math: fluid,
  output: float,
  gutter-position: inside,
  //debug: (image: show)
);
