// Reset menus and lists
@mixin reset-list {
  list-style: none outside none;
  list-style-image: none;
  margin: 0;
  padding: 0;

  & li {
    list-style: none outside none;
  }
}

// Transparency
@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  zoom: 1;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$ie-hex-str}',endColorstr='#{$ie-hex-str}');
}


%section-title-fake-class {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

// Styles for section title
@mixin section-title(
  $font-size: $h2-font-size,
  $line-height: 4,
  $mobile-font-size: 18px,
  $mobile-line-height: 3,
  $color: ocblue) {

    @include adjust-font-size-to($mobile-font-size, $mobile-line-height);
    @extend %section-title-fake-class;
    color: palette($color);

    @include breakpoint(min-width $break-large) {
      @include adjust-font-size-to($font-size, $line-height);
    }
}

/// Select all odd children.
/// @group no-arguments
/// @content [Write the style you want to apply to the children, and it will be added within the @content directive]
@mixin odd() {
  &:nth-child(odd) {
    @content;
  }
}
