// Reset menus and lists
@mixin reset-list {
  list-style: none outside none;
  list-style-image: none;
  margin: 0;
  padding: 0;

  & li {
    list-style: none outside none;
  }
}

// Transparency
@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  zoom: 1;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$ie-hex-str}',endColorstr='#{$ie-hex-str}');
}

%section-title-reset-single-post {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: palette(ocblue);
  padding-bottom: 0;
  margin-bottom: 0;
}

// Styles for section title
@mixin section-title(
  $font-size: $h2-font-size,
  $line-height: 4,
  $mobile-font-size: 16px,
  $mobile-line-height: 3,
  $color: ocblue) {

    @include adjust-font-size-to($mobile-font-size, $mobile-line-height);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: palette($color);

    @include breakpoint(min-width $break-large) {
      @include adjust-font-size-to($font-size, $line-height);
      font-weight: 100;
    }
}

@mixin section-text-copy(){
  font-weight: 300;
  letter-spacing: 0.1em;
  color: palette(grey, mid-dark);

  @include adjust-font-size-to(14px, 3);
}
