.blog-intro {
    background: url(../images/blog/blog-bg-top-small.jpg) no-repeat center top palette(black) ;
    background-size: cover;

  @include breakpoint($break-small + 1px) {
    background: url(../images/blog/blog-bg-top-medium-small.jpg) no-repeat center top palette(black) ;
    background-size: cover;
  }

  @include breakpoint($break-medium-small + 1px) {
    background: url(../images/blog/blog-bg-top-medium.jpg) no-repeat center top palette(black) ;
    background-size: cover;
  }

  @include breakpoint($break-medium + 1px) {
    background: url(../images/blog/blog-bg-top-medium.jpg) no-repeat center top palette(black) ;
    background-size: cover;
  }

  @include breakpoint($break-large + 1px) {
    background: url(../images/blog/blog-bg-top-large.jpg) no-repeat center top palette(black) ;
    background-size: cover;
  }

  @include breakpoint($break-big) {
    background: url(../images/blog/blog-bg-top-large.jpg) no-repeat center top palette(black);
    background-size: contain;
  }

  @extend %commons__intro;
  height: 255px;
}

.blog-intro__logo {
  @extend %commons__intro-logo;
}

.blog-intro__phrase {
  @extend %commons__intro-phrase;
}
