.contact-form {
  text-align: center;
  background: palette(white);
  padding: 0 20px;
}

.contact-form__inputs {
  height: 50px;
  margin: 0 auto 20px auto;
  font-weight: 300;

  @include breakpoint(max-width $break-small) {
    height: 40px;
    font-size: 14px;
  }

  @include breakpoint($break-small $break-medium-small) {
    height: 45px;
    font-size: 14px;
  }

  @include breakpoint($break-medium-small $break-medium) {
    height: 50px;
    font-size: 18px;
  }

  @include breakpoint($break-medium $break-large) {
    font-size: $h4-font-size;
    margin: 0 auto 40px auto;
  }
}


.contact-form__inputs--message-field {
  height: 200px;
  margin-bottom: 30px;
  font-weight: 300;
}

.contact-form__inputs__content {
  width: 100%;
  height: 100%;
  padding: 0;
  border: thin solid palette(grey);
  color: palette(grey);
  text-indent: 20px;
  margin-bottom: 40px;
  @include container(650px);
}

.contact-form__inputs textarea {
  width: 100%;
  height: 200px;
  padding: 0;
  border: thin solid palette(grey);
  color: palette(grey);
  text-indent: 20px;
  margin-bottom: 40px;
  @include container(650px);
}

#select__dropdown-list {
  width: 100%;
  height: 100%;
  padding: 0;
  border: thin solid palette(grey);
  color: palette(grey);
  text-indent: 20px;
  margin-bottom: 40px;
  @include container(650px);
}

.contact-form__inputs__submit {
  @include transition(background-color);
  @include transition-duration(0.5s);
  color: palette(white);
  padding: 15px 50px;
  letter-spacing: 0.3em;
  border: none;
  border-radius: 100px;
  background-color: palette(ocblue);

  &:hover {
    background-color: palette(ocblue, dark);
  }
}
