.contacts__intro {
  @include breakpoint(max-width $break-small) {
    background: url(../images/features/features-bg-bottom-small.jpg) no-repeat center bottom palette(ocblue, x-dark) ;
    background-size: cover;
  }

  @include breakpoint(($break-small + 1px) (max-width $break-medium-small) ) {
    background: url(../images/features/features-bg-bottom-medium-small.jpg) no-repeat center bottom palette(ocblue, x-dark) ;
    background-size: cover;
  }

  @include breakpoint(($break-medium-small + 1px) (max-width $break-medium) ) {
    background: url(../images/features/features-bg-bottom-medium-small.jpg) no-repeat center bottom palette(ocblue, x-dark) ;
    background-size: cover;
  }

  @include breakpoint(($break-medium + 1px) (max-width $break-large) ) {
    background: url(../images/features/features-bg-bottom-medium.jpg) no-repeat center bottom palette(ocblue, x-dark) ;
    background-size: cover;
  }

  @include breakpoint(($break-large + 1px) (max-width $break-big) ) {
    background: url(../images/features/features-bg-bottom-large.jpg) no-repeat center bottom palette(ocblue, x-dark) ;
    background-size: cover;
  }

  @include breakpoint($break-big) {
    background: url(../images/features/features-bg-bottom-large.jpg) no-repeat center bottom palette(ocblue, x-dark);
    background-size: contain;
  }

  height: 355px;
  text-align: center;
  width: auto;
  margin: 0 auto;
  color: palette(white);
}

.contacts__intro-logo {
  max-width: 295px;
  height: auto;
  margin-top: 140px;
  margin-bottom: 20px;

  @include breakpoint($break-large) {
    max-width: 360px;
    margin-top: 110px;
  };
}

.contacts__intro-phrase {
  @include section-title(14px, 3);
  max-width: 80%;
  margin: 0 auto 20px auto;
  color: palette(white);

  @include breakpoint($break-large) {
    font-size: 20px;
  };
}

.contacts__context-intro {
  background: palette(ocblue, dark);
  text-align: center;
  overflow: hidden;

  &:after {
  	left: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-color: rgba(palette(ocblue, dark), 0);
  	border-top-color: palette(ocblue, dark);
  	border-width: 15px;
  	margin-left: -15px;
  }
}


.contacts__context-title {
  margin: 35px auto 20px auto;
  @include section-title();

  @include breakpoint ($break-medium + 1) {
    font-size:30px;
  }
}

.contacts__context-content {
  color: palette(white);
  font-weight: 300;
  @include adjust-font-size-to(12px, 3);
  letter-spacing: 0.2em;
  width: 85%;
  margin: 0 auto 40px auto;

  @include breakpoint ($break-medium + 1) {
    width: 60%;
    @include adjust-font-size-to(14px, 3);
  }
}

.contacts__form-container {
  background: palette(white);
  padding: 60px 20px 40px 20px;
  height:1%;
  overflow: hidden;
}
