.features-drupal{
  background: palette(ocblue, dark);
  color: palette(white);
  text-align: center;
  padding: 50px 20px;

  h1{
    @include section-title($h4-font-size, 4, 30px);
    @include breakpoint (min-width $break-medium + 1){
      font-size:30px;
    }
  }

  h2{
    @include section-title($h3-font-size, 3, 18px);
    @include breakpoint (min-width $break-large + 1){
      font-size:$h3-font-size;
    }
  }

  p{
    @include adjust-font-size-to(12px, 3);
    font-weight: 300;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include breakpoint (min-width $break-large + 1){
      max-width: 1000px;
      margin: 0 auto 20px auto;
    }
  }
}

.features-drupal__title_break{
  @include section-title($h3-font-size);

  @include breakpoint (min-width $break-large + 1){
    @include section-title($h3-font-size,3, 16px);
    display: block;
  }
}

.features-drupal__link{
  color: palette(white);
  text-decoration: underline;

  &:hover{
    text-decoration: none;
    color: palette(ocblue);
  }
}
