.features__portfolio {
  background: url(../images/home/home-bg-values.jpg) no-repeat center bottom palette(ocblue, x-dark);
  height: 1%;
  overflow: hidden;
  text-align: center;
  width: auto;
  margin: 0 auto;
  padding: 40px 20px;

  h1 {
    @include section-title($h4-font-size, 4, 30px);
    @include breakpoint (min-width $break-medium + 1) {
      font-size:30px;
    }
  }
}
