.footer-social {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  padding: 25px 0;
  font-size: 16px;
  font-weight: 300;
  background: palette(ocblue, dark);
  color: palette(white);
}
