.home-features__carousel-covermac {
  background: url(../images/home/imac_bg.png) no-repeat center top;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

.home-features__carousel-wrapper {
  overflow: hidden;
  width: 94%;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 3%;
}

// - carousel height
.home-features__carousel-wrapper__carousel {
  height: 268px;
}

// - cell inherit height from carousel
.home-features__carousel-wrapper__carousel-cell {
  height: 100%;
  width: 100%;
}
