.clients-container{
  background: palette(white);
  text-align: center;
  overflow: hidden;
  height: 1%;
  padding-bottom:20px;
}

.clients-container__title{
  @include section-title();
}

.client-container__separator{
 width:90%;
 display: block;
 background-color: palette(grey, xxx-light);
 height: 1px;
 margin: 0 auto 50px auto;
 }

