#home-contact-form{
  background: palette(white);
  min-height: 150px;
  text-align: center;
  width: auto;
  margin: 0 auto;
  overflow: auto;
  padding-bottom: 50px;

  p{
    color: palette(ocblue);
  }

}

.home-contact-form__title{
  @include section-title();
  margin-bottom: 20px;
 }

input {
  background: none;
}

input {
  border-radius: 3px;
  box-shadow: none;
  border: thin solid palete(grey, xxx-light);
}

