.home-intro {
  @include breakpoint(max-width $break-small) {
    background: url(../images/home/home-bg-top-small.jpg) no-repeat center bottom palette(black);
    background-size: contain;
  }

  @include breakpoint((min-width $break-small + 1px) (max-width $break-medium-small) ) {
    background: url(../images/home/home-bg-top-medium-small.jpg) no-repeat center bottom palette(black);
    background-size: contain;
  }

  @include breakpoint((min-width $break-medium-small + 1px) (max-width $break-medium) ) {
    background: url(../images/home/home-bg-top-medium.jpg) no-repeat center bottom palette(black);
    background-size: contain;
  }

  @include breakpoint((min-width $break-medium + 1px) (max-width $break-large) ) {
    background: url(../images/home/home-bg-top-large.jpg) no-repeat center bottom palette(black);
    background-size: contain;
  }

  @include breakpoint((min-width $break-large + 1px) (max-width $break-big) ) {
    background: url(../images/home/home-bg-top-big.jpg) no-repeat center bottom palette(black);
    background-size: contain;
  }

  @include breakpoint(min-width $break-big) {
    background: url(../images/home/home-bg-top-big.jpg) no-repeat center bottom palette(black);
    background-size: contain;
  }

  //height: 395px;
  height:100vh;
  text-align: center;
  width: auto;
  margin: 0 auto;
  color: palette(white);

  .rocket-animation__container {
    position: relative;
    width: 100%;
    max-width: 295px;
    padding-top: 25vh;
    height: auto;
    margin: 0 auto 15px auto;
    transform: translateZ(0px);

    @include breakpoint(min-width $break-medium-small) {
      max-width: 395px;
    };

    @include breakpoint(min-width $break-large) {
      max-width: 560px;
    };
  }
}

.home-intro__phrase {
  @include section-title(12px, 2.5);
  max-width: 80%;
  margin: 0 auto 20px auto;
  color: palette(white);

  @include breakpoint(min-width $break-large) {
    font-size: 20px;
  };
}

.stars-static-bg__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 80vh;
  overflow: hidden;
  pointer-events: none;
}
