.clients-container{
  background: palette(white);
  min-height: 50px;
  text-align: center;
  margin: 0 auto;
  overflow: auto;
}

.clients-container__title{
  @include section-title();
}

.client-container__separator{
 width:90%;
 display: block;
 background-color: palette(grey, xxx-light);
 height: 1px;
 margin: 0 auto 50px auto;
 }

