.activity-container{
  background: palette(white);
  min-height: 500px;
  text-align: center;
  width: auto;
  margin: 0 auto;
  overflow: auto;

  p{
    color: palette(ocblue);
  }

}

.activity-container__title{
  font-size:$h2-font-size;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 50px auto 20px auto;
 }

.activity-container__title-separator{
  width: 250px;
  height: 1px;
  display: block;
  background-color: palette(ocblue);
  margin: 0 auto;
}
