.home-features__carousel-container--dark {

  @include breakpoint(max-width $break-medium) {
    @include span(4);
    @include squish(1);
  }

  @include breakpoint($break-medium + 1px) {
    @include span(4);
    margin-top: 280px;
    @include squish(1);
  }

  @include breakpoint($break-large + 1px) {
    @include span(isolate 2 at 3);
    margin-top: 0px;
  }
}

.home-features__carousel--dark {
  position: relative;
  padding-bottom: 83.5%;
}

.home-features__carousel-cover--dark {
  background: url(../images/home/screen_hp.png) no-repeat center top;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

.home-features__carousel-wrapper {
  overflow: hidden;
  width: 94%;
  height: 62%;
  position: absolute;
  height: 62%;
  z-index: 1;
  top: 4%;
  left: 3%;
}

// - carousel height
.home-features-carousel {
  height: 100%;
}

// - cell inherit height from carousel
.home-features-carousel__cell {
  height: 100%;
  width: 100%;

  img {
    width: 100%;
  }
}
