.home-activity {
  background: palette(white);
  margin: 0 auto;
  text-align: center;
  padding: 50px 20px 20px;
}

.home-activity__title-wrapper {
  margin: 0 auto 20px auto;
}

.home-activity__title {
  @include section-title();
  display: inline-block;

  &:after {
    content: "";
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid;
    display: block;
  }
}

.home-activity__content {
  @include container(1000px);
  overflow: hidden;
}

%home-activity__content-title {
  @include section-title(18px);

  @include breakpoint($break-large) {
    font-weight: 300;
  }
}


.home-activity__twitter {
  height: 1%;
  overflow: hidden;
  border-bottom: thin solid palette(grey, xxx-light);
  padding-bottom: 20px;
  margin-bottom: 40px;

  @include breakpoint($break-medium + 1px) {
    @include span(3);
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.home-activity__twitter-title {
  @extend %home-activity__content-title;
}

.home-activity__twitter-content {
  height: 400px;
}


.home-activity__blog {
  height: 1%;
  overflow: hidden;
  padding-bottom: 20px;

  @include breakpoint($break-medium + 1px) {
    @include span(3);
  }
}

.home-activity__blog-title {
  @extend %home-activity__content-title;
}
