.home-intro{

    @include breakpoint(max-width $break-small) {
      background: url(../images/home/home-bg-top-small.jpg) no-repeat center top palette(ocblue, mid-dark) ;
      background-size: cover;
    }

    @include breakpoint((min-width $break-small + 1px) (max-width $break-medium-small) ) {
      background: url(../images/home/home-bg-top-medium-small.jpg) no-repeat center top palette(ocblue, mid-dark) ;
      background-size: cover;
    }

    @include breakpoint((min-width $break-medium-small + 1px) (max-width $break-medium) ) {
      background: url(../images/home/home-bg-top-medium.jpg) no-repeat center top palette(ocblue, mid-dark) ;
      background-size: cover;
    }

    @include breakpoint((min-width $break-medium + 1px) (max-width $break-large) ) {
      background: url(../images/home/home-bg-top-large.jpg) no-repeat center top palette(ocblue, mid-dark) ;
      background-size: cover;
    }

    @include breakpoint((min-width $break-large + 1px) (max-width $break-big) ) {
      background: url(../images/home/home-bg-top-big.jpg) no-repeat center top palette(ocblue, mid-dark) ;
      background-size: cover;

    }

    @include breakpoint(min-width $break-big) {
      background: url(../images/home/home-bg-top-big.jpg) no-repeat center top palette(ocblue, mid-dark);
      background-size: cover;
    }

  height: 395px;
  text-align: center;
  width: auto;
  margin: 0 auto;
  color: palette(white);
}

.home-intro__logo{
  max-width: 295px;
  height: auto;
  margin-top: 110px;
  margin-bottom: 20px;

  @include breakpoint(min-width $break-large) {
    max-width: 360px;
    margin-top: 90px;

  };
}

.home-intro__phrase{
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: 1.4;
  max-width: 80%;
  margin: 0 auto 20px auto;

  @include breakpoint(min-width $break-large) {
    font-weight: 100;
    font-size: 22px;
  };

}

span.home-intro__phrase-br{
  display: none;

  @include breakpoint(min-width $break-medium){
      display:block;
  };
}

span.home-intro__phrase-br2{
  display: none;

  @include breakpoint(min-width $break-medium-small){
      display:block;
  };
}

