.home-features--dark {
  background: url(../images/home/home-features_bg.jpg) no-repeat center top palette(ocblue, dark);
  text-align: center;
  color: palette(ocblue);
  padding: 0 20px 50px 20px;
  overflow: hidden;
}

.home-features__title--dark {
  @include section-title();
  font-weight: 300;
  padding-top: 45px;
}

.home-features__subtitle--dark {
  @include section-title($h4-font-size, 4, 12px, 3, white);
  @include container(1400px);
  font-weight: 300;
  margin-bottom: 60px;
  display: block;
}

.home-features__container--dark {
  margin:40px auto 0px auto;
  padding:0 10px 0;
  @include container(1400px);
}

/* Left section*/
.home-features__container-left--dark {

  @include breakpoint(max-width $break-medium) {
    @include span(6);
  };

  @include breakpoint($break-medium + 1px) {
    @include span(isolate 3 at 1);
  };

    @include breakpoint($break-large + 1px) {
      @include span(isolate 2 at 1);
  };
}

/* Right section*/
.home-features__container-right--dark {

  @include breakpoint(max-width $break-medium) {
    @include span(6);
  };

  @include breakpoint($break-medium + 1px) {
    @include span(isolate 3 at 4);
  };

  @include breakpoint($break-large + 1px) {
    @include span(isolate 2 at 5);
  };
}
