.activity-container{
  background: palette(white);
  min-height: 500px;
  text-align: center;
  width: auto;
  margin: 0 auto;
  overflow: auto;

  p{
    color: palette(ocblue);
  }

}

.activity-container__title{
  @include section-title();
  display: inline-block;
  margin: 50px auto 20px auto;

  &:after {
    content: "";
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid;
    display: block;
  }
 }

.activity-container__title-separator{
  width: 250px;
  height: 1px;
  display: block;
  background-color: palette(ocblue);
  margin: 0 auto;
}
