.home-features {
  background: url(../images/home/features_bg.png) no-repeat center top palette(ocblue, dark);
  min-height: 395px;
  text-align: center;
  color: palette(ocblue);
  width: auto;
  margin: 0 auto;
  padding-bottom: 15px;
  overflow:auto;
}

.home-features__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.2em;
  padding-top: 45px;
  width: 80%;
  margin: 0 auto;
  line-height: 1.2;

  @include breakpoint(min-width $break-large) {
    font-size: $h2-font-size;
    line-height: 1.5;
    font-weight:100;
  };

}

.home-features__subtitle {
  color: palette(white);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.2em;
  line-height: 1.2;
  width: 80%;
  padding-top: 10px;
  margin: 0 auto;

  @include breakpoint(min-width $break-large) {
    font-size: $h4-font-size;
    font-weight:100;
  };

}

.home-features__container {
  min-height: 325px;
  width: 90%;
  margin:40px auto 50px auto;
}

/* Left section*/
.home-features__container-left {

  @include breakpoint(max-width $break-medium) {
    @include span(6);
  };

  @include breakpoint(min-width $break-medium + 1px) {
    @include span(isolate 2 at 1);
  };

}

/* Right section*/
.home-features__container-right {

  @include breakpoint(max-width $break-medium + 1) {
    @include span(6);
  };

  @include breakpoint((min-width $break-medium + 1px)) {
    @include span(isolate 2 at 5);
  };
}

/* Centre section*/
.home-features__container-comp {
  background: url(../images/home/imac_bg.png) no-repeat center top;
  background-size: contain;
  min-height: 325px;
  @include span(6);

  @include breakpoint(min-width $break-medium) {
    @include span(isolate 2 at 3);
  };

}
