.activity__blog {
  height: 1%;
  overflow: hidden;
  padding-bottom: 20px;

  @include span(6);

  @include breakpoint(min-width $break-medium + 1px) {
    @include span(3 at 4);
  }
}

.activity__blog-content{

  @include breakpoint(min-width $break-medium + 1px) {
    @include container(800px);
  }
}

.activity__blog-post {
  color: palette(grey); text-align: left;
  font-weight: 300;
  margin-bottom: 30px;
  border-bottom: palette(grey, xxx-light) solid thin;
  padding-bottom: 20px;
}

.activity__blog-content-date {
  @include adjust-font-size-to(14px, 3);
  letter-spacing: 0.05em;
}

.activity__blog-content-title {
  @include adjust-font-size-to(18px, 3);
  letter-spacing: 0.05em;
  color: palette(black);
  margin: 0;
}

.activity__blog-content-description {
  @include adjust-font-size-to(12px, 2.5);
  letter-spacing: 0.05em;
  text-align: left;
  margin: 0;

  blockquote, strong, em , a, p {
    color: palette(grey, mid-dark);
    border: none;
  }
}
