.home-summary {
  background: url(../images/home/home-bg-values.jpg) no-repeat center bottom palette(ocblue, x-dark);
  min-height: 395px;
  text-align: center;
  width: auto;
  margin: 0 auto;
  padding: 10px 20px 50px;
}

.home-summary__title {
  @include section-title(18px);
  margin: 40px auto 15px auto;
}

.home-summary__title__highlight {
  @include breakpoint($break-large){
    font-size: $h2-font-size;
  };
}

.home-summary__subtitle {
  color: palette(white);
  font-size:14px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0 auto 15px auto;
  width: 90%;
  line-height: 1.5;

  @include breakpoint($break-large) {
    font-size:18px;
  };
}


.home-summary__title-separator {
  width: 250px;
  height: 1px;
  display: block;
  background-color: palette(ocblue, mid-dark);
  margin: 0 auto;
}

.home-summary__values {
  width: 90%;
  margin: 25px auto 50px auto;
  min-height: 75px;
  display: block;

  @include breakpoint($break-large) {
    max-width: 900px;
  };
}

.oc-value {
  @include span(1 of 5);

  @include breakpoint(max-width $break-extra-small) {
    @include span(5 of 5);
    margin-bottom: 20px;
  };

  span {
    font-size: 50px;
    color: palette(ocblue);
  }

  h1 {
    color: palette(white);
    font-weight: 300;
    font-size: 12px;

    @include breakpoint(max-width $break-extra-small+1) {
      font-size: 18px;
      color: palette(ocblue);
    };

    @include breakpoint($break-medium-small+1) {
      font-size: 14px;
    };
  }
}
