.home-features {
  background: url(../images/home/home-features_bg.jpg) no-repeat center top palette(ocblue, dark);
  min-height: 395px;
  text-align: center;
  color: palette(ocblue);
  padding: 0 20px 15px;
  overflow:auto;
}

.home-features__title {
  //@include section-title();
  @extend %section-title-fake-class;

  font-weight: 300;
  padding-top: 45px;

  @include breakpoint(min-width $break-large) {
    font-weight:100;
  };
}

.home-features__subtitle {
  @include section-title($h4-font-size, 4, 12px, 3, white);
  font-weight: 300;
  padding-top: 10px;

  @include breakpoint(min-width $break-large) {
    font-weight:100;
  };

}

.home-features__container {
  min-height: 325px;
  width: 90%;
  margin:40px auto 50px auto;
}

/* Left section*/
.home-features__container-left {

  @include breakpoint(max-width $break-medium) {
    @include span(6);
  };

  @include breakpoint(min-width $break-medium + 1px) {
    @include span(isolate 2 at 1);
  };

}

/* Right section*/
.home-features__container-right {

  @include breakpoint(max-width $break-medium + 1) {
    @include span(6);
  };

  @include breakpoint((min-width $break-medium + 1px)) {
    @include span(isolate 2 at 5);
  };
}

/* Centre section*/
.home-features__container-comp {
  background: url(../images/home/imac_bg.png) no-repeat center top;
  background-size: contain;
  min-height: 325px;
  @include span(6);

  @include breakpoint(min-width $break-medium) {
    @include span(isolate 2 at 3);
  };

}
