/**
 * Center the page.
 *
 * Define a min-width for smaller devices.
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 */
header,
main,
footer {
  min-width: 320px;
}

.section-inner {
  margin-left: auto;
  margin-right: auto;
 @include container(1260px);
  padding: 0 10px;
}

.section-inner--large {
  width:100%;
  padding: 0;
}

.phrase-br--medium {
  display: none;

  @include breakpoint($break-medium) {
    display:block;
  }
}

.phrase-br--small {
  display: none;

  @include breakpoint($break-medium-small) {
    display:block;
  }
}
