.oc-feature {
  width: 100%;
  position: relative;
  @include adjust-font-size-to(16px, 4);
  margin-bottom: rhythm(4, 16px);
  box-sizing: border-box;
  @include pie-clearfix();

  @include breakpoint(max-width $break-medium) {
    display: block;
    position: relative;
  }

  @include breakpoint(min-width $break-medium + 1px) {
    transform: translateY(50%);
  }
}

.oc-feature--right {
  @include breakpoint(min-width $break-medium + 1px) {
    text-align: right;
  }
}

.oc-feature--left {
  @include breakpoint(min-width $break-medium + 1px) {
    text-align: left;
  }
}

.oc-feature--large {
  font-size: 18px;
  margin-bottom: 80px;
}

.oc-feature__title {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.2em;

  @include breakpoint(max-width $break-medium) {
    text-align: center;
  }

  @include breakpoint(min-width $break-medium + 1px) {
    transform: translateY(-50%);
  }
  .oc-feature--large & {
   // transform: translateY(0);
    margin-top: 0px;
  }
}

.oc-feature__icon {
  font-size: 2.5em; // 40px @ 16px

  .oc-feature--large & {
    font-size: 3.333em; // 60px @ 18px
    //transform: translateY(0);
    //margin-top: 0px;
  }

  @include breakpoint(max-width $break-medium) {
    font-size: 3.125em; // 40px @ 16px
    margin-bottom: 10px;
  }

  @include breakpoint(min-width $break-medium + 1px) {
    transform: translateY(-50%);

    .oc-feature--right & {
      float: right;
      margin-left: 10px;
    }

    .oc-feature--left & {
      float: left;
      margin-right: 10px;
    }
  }
}


.oc-feature__image{
  width: 480px;
  float: left;
  height: 215px;
  background: palette(ocblue);
  //@include span(isolate 2 at 1);
}

.oc-feature__description{
  display:block;
  @include adjust-font-size-to(16px, 3);
  letter-spacing: 0.2em;
  padding: 0;
}

