.clients-testimonials{
  margin-bottom: 50px;
  padding: 20px;
  @include container(800px);
  position: relative;
  overflow: hidden;
  height: 1%;

}

.carousel__testimonials-wrapper{
   margin-bottom: 20px;
   padding-bottom: 55%;

  @include breakpoint(min-width $break-small + 1px){
    padding-bottom: 25%;
  }

  @include breakpoint(min-width $break-medium + 1px){
    padding-bottom: 15%;
  }

  .flickity-viewport {
    position: absolute;
    width: 100%;
  }

  .carousel-cell {
    height: 100%;
    width: 100%;
  }
}

.clients-testimonial{
  @include adjust-font-size-to(23px, 4);
  color: palette(ocblue, mid-dark);
  font-style: italic;
  font-weight: 300;
  margin: 0 auto;
  display: block;
  z-index: 100;
  position: relative;

  &:before,
  &:after{
    content: '"';
    color: palette(grey, xxx-light);
    vertical-align: bottom;
    position: relative;
    display: inline-block;
    @include adjust-font-size-to(72px, 4, 23px); //adjust with base on 23px
    font-weight: 300;
  }

  &:before{
    margin-right: 0.05em;
    transform: translateY(25%);
  }

  &:after{
    transform: translateY(100%);
  }
}

.clients-testimonial__author {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: palette(ocblue, mid-dark);
}

