.portfolio {
  background: url(../images/home/home-bg-values.jpg) no-repeat center bottom palette(ocblue, x-dark);
  height: 1%;
  overflow: hidden;
  text-align: center;
  padding-top: 40px ;

  h1 {
    @include section-title($h4-font-size, 4, 15px);
    @include breakpoint ($break-medium + 1) {
      font-size:30px;
    }
  }
}

.portfolio-carousel__container {
  @include container(850px);
  overflow: hidden;
}

.portfolio-composite {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 65%;
}

.portfolio-carousel__cover {
  background: url(../images/features/screen_features.png) no-repeat center top;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

.portfolio-carousel__wrapper {
  width: 80%;
  position: absolute;
  left: 10%;
  top:5%;
  z-index: 1;
  height: 62%;
  //overflow: hidden;
}

// - carousel height
.portfolio-carousel {
  height: 100%;

  .previous {
    left: -18%;
    transform: scale(0.6);
    top:35%;

    @include breakpoint($break-small) {
      transform: scale(0.8);
      top:40%;
    }

    @include breakpoint($break-medium) {
      left: -10%;
      transform: scale(1);
      top:50%;
    }
  }

  .next {
    right: -18%;
    transform: scale(0.6);
    top:35%;

    @include breakpoint($break-small) {
      transform: scale(0.8);
      top:40%;
    }

    @include breakpoint($break-medium) {
      right: -10%;
      transform: scale(1);
      top:50%;
    }
  }
}

// - cell inherit height from carousel
.portfolio-carousel__cell {
  height: 100%;
  width: 100%;

  img {
    width:100%;
  }
}
