//- ANIMATION ICON
.rocket-animation-404__container {
  width: 82px;
  height: 47px;
  position: relative;
  margin: 0 auto 30px auto;
  padding-top: 120px;
}

.rocket-animation-404 {
  width: 100%;
  padding-bottom: 57.31%;
  transform: translateX(-24.39%);
  position: relative;
  margin: 0 auto;
}

.rocket-animation-404__rocket {
  position: absolute;
  width: 74.39%;
  height: 100%;
  left: 25.61%;
  top: 0;
}

.rocket-animation-404__fire-rocket {
  position: absolute;
  transform: translate3d(50%, 0, 0);
  left: 12%;
  top: 44%;
  width: 21.95%;
  height: 12.77%;
  transform-origin: 55.56% 66.33% 0;
  transform-style: preserve-3d;
  opacity: 1;
  animation: fire-rocket-keyframes 0.3s linear 0s infinite normal forwards;
}

@keyframes fire-rocket-keyframes {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  66.67% {
    transform: translate3d(-27.78%, 0, 0) scale3d(1.61111, 1.61111, 1);
    opacity: 0.5;
  }
  100% {
    transform: translate3d(-22.22%, 0, 0) scale3d(1.50103, 1.50103, 1);
    opacity: 0;
  }
}
