// -  Carousel screen glow

.screen-glow__container {
  position: absolute;
  z-index: 60;
  top: 70.5%;
  left: 42%;
  width:85%;
  overflow: hidden;
  pointer-events: none;
  padding-bottom: 85%;
}

.screen-glow {
  width: 10%;
  height: 0;
  padding-left:10%;
  padding-top: 10%;
  filter: blur(3px);

  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-40px;
    margin-top:-60px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 60px solid palette(white);
    filter: blur(3px);
    animation: screen-glow-keyframes 0.4s linear 0s infinite normal forwards;
  }
}

@keyframes screen-glow-keyframes {
  0% {
    border-top: 60px solid palette(white);
    opacity: 0;
  }
  50% {
    border-top: 75px solid palette(white);
    opacity: 0.7;
  }
  100% {
    border-top: 60px solid palette(white);
    opacity: 0;
  }
}
