.showcase-intro {
    background: url(../images/showcase/background/showcase-bg-top-small.jpg) no-repeat center top palette(black) ;
    background-size: cover;

  @include breakpoint($break-small + 1px) {
    background: url(../images/showcase/background/showcase-bg-top-medium-small.jpg) no-repeat center top palette(black) ;
    background-size: cover;
  }

  @include breakpoint($break-medium-small + 1px) {
    background: url(../images/showcase/background/showcase-bg-top-medium.jpg) no-repeat center top palette(black) ;
    background-size: cover;
  }

  @include breakpoint($break-medium + 1px) {
    background: url(../images/showcase/background/showcase-bg-top-large.jpg) no-repeat center top palette(black) ;
    background-size: cover;
  }

  @include breakpoint($break-large + 1px) {
    background: url(../images/showcase/background/showcase-bg-top-large.jpg) no-repeat center top palette(black) ;
    background-size: cover;

  }

  @include breakpoint($break-big) {
    background: url(../images/showcase/background/showcase-bg-top-large.jpg) no-repeat center top palette(black);
    background-size: contain;
  }

  @extend %commons__intro;
}

.showcase-intro__logo {
  @extend %commons__intro-logo;
}

.showcase-intro__phrase {
  @extend %commons__intro-phrase;
}

.showcase-intro__context {
  @extend %commons__context-intro;
}

.showcase-intro__context-title {
  @extend %commons__context-title;
}

.showcase-intro__context-subtitle {
  @extend %commons__context-subtitle;
  margin-bottom: 35px;
}

.showcase-intro__context-content {
  @extend %commons__context-content;
}
