.error-404

  include ./_partials/_star_animation

  include ./_partials/_rocket_animation_404

  p Are you lost?
    span The best thing to do is to
  a(href='/index').button-404 Get back to known space
