.error__404-intro
  #stars
  #stars2
  #stars3
  .error__404-icon-anim-container
    .error__404-icon-anim
      img(src="/images/home/anim_404/rocket.svg" id="rocket" class="rocket")
      img(src="/images/home/anim_404/fire_rocket.svg" id="fire__rocket" class="fire__rocket gwd-gen-6i9mgwdanimation")
  p Are you lost?
    span The best thing to do is to
  a(href='/index').button__404 Get back to known space
