section.contacts__intro
  include ./_partials/_rocket_animation
  p.contacts__intro-phrase Contacts

.contacts__context-intro
  h1.contacts__context-title Get in touch
  p.contacts__context-content Please fill the form below and we’ll get back to you as soon as possible.


.contacts__form-container
  include ./_partials/_oc_contact_form
