section.features__intro
  img.features__intro-logo(src='/images/home/logo-home.svg', alt='Open Consortium')
  p.features__intro-phrase Technology to power<br>your Consortium.&nbsp;

.features__context-intro
  h1.features__context-title Features
  p.features__context-content We speak the language of science. We can help you communicate your research and take that headache away with our communication and technology platform. It is based on open-source software, with focus on external communication. Beside this, we can design the identity for your consortium, as well setting the sharing infrastructure of data and knowledge, and a full laboratory information management systems for handling internal data exchange.
  p.features__context-subtitle So, what can it do for you?

section.features__list
  - var featureSize = "large";
  - var featureImage = "true";
  - var featureDescription = "true";
  include ./_partials/_oc_features

section.features__drupal
  h1 Under the Hood

  p Built on&nbsp;
    a(class="features__drupal-link" target="_blank" href="https://www.drupal.org/") Drupal 8
    |, the hottest web system in education today (
    a(class="features__drupal-link" target="_blank" href="https://www.drupal.org/resource-guides/drupal-for-educational-institutions") check
    |&nbsp;the Drupal Education Resource Guide). Your Open Consortium website can be extended with some over 5000 available modules. Of course, we are there to assist you before, during and after the launch of your Consortium website.

  h2 Want to know more?
    span.features__drupal-title-break Then why don't you

  a(href='/contacts').button Get in touch
