section.features__intro
  include ./_partials/_rocket_animation
  p.features__intro-phrase Technology to power<br>your Consortium.&nbsp;

.features__context-intro
  h1.features__context-title
  p.features__context-content We speak the language of science. We can help you communicate your research and take that headache away with our communication and technology platform. Open Consoritum is based on open-source software that won't lock you in. Moreover, we can design the identity for your consortium and make sure your science really stands out.
  p.features__context-subtitle So, what can it do for you?

section.features__list

  - var featureSize = "large";
  - var featureImage = "true";
  - var featureDescription = "true";

  - featuresWanted = ['highlight-research', 'highlight-researcher', 'visualise-consortium'];
  include ./_partials/_oc_features

  - featuresWanted = ['visualise-consortium'];
  include ./_partials/_oc_features_quote

  - featuresWanted = ['publicise-events', 'social-media-integration', 'content-management-tool', 'responsive-layout', 'promoted-content', 'job-offers'];
  include ./_partials/_oc_features


section.portfolio
  include ./_partials/_portfolio


section.features__drupal
  h1 Under the Hood

  p Built on&nbsp;
    a(class="features__drupal-link" target="_blank" href="https://www.drupal.org/") Drupal 8
    |, the hottest web system in education today (
    a(class="features__drupal-link" target="_blank" href="https://www.drupal.org/resource-guides/drupal-for-educational-institutions") check
    |&nbsp;the Drupal Education Resource Guide). Your Open Consortium website can be extended with over a 1000 available modules. Of course, we are there to assist you before, during and after the launch of your Consortium website.

  h2 Want to know more?

  a(href='/contacts').button Get in touch
