
section.features-intro
  img.features-intro__logo(src='/images/home/logo-home.svg', alt='Open Consortium')
  p.features-intro__phrase Technology to power<br>your Consortium.&nbsp;

.features-context-intro
  h1.features-context__title Features
  p.features-context__content We speak the language of science. We can help you communicate your research and take that headache away with our communication and technology platform. It is based on open-source software, with focus on external communication. Beside this, we can design the identity for your consortium, as well setting the sharing infrastructure of data and knowledge, and a full laboratory information management systems for handling internal data exchange.
  p.features-context__subtitle So, what can it do for you?

section.features-list
  - var featureSize = "large";
  - var featureImage = "true";
  - var featureDescription = "true";
  include ./_partials/_oc_features

section.features-drupal
  h1 Under the Hood

  p Built on Drupal 8, the hottest web system in education today (download the fact sheet). Your Open Consortium website can be extended with some over 5000 available modules. Of course, we are there to assist you before, during and after the launch of your Consortium website.
