section.home-intro

  include ./_partials/_rocket_animation

  p.home-intro__phrase
    | We will create your science website for your research consortium.&nbsp;
    span.phrase-br--medium
    |You will be able to update, manage and communicate&nbsp;
    span.phrase-br--small
    | it to the world.

  a(href='#oc-features').button.button--scroller Know more

  .stars-static-bg__container
    include ./_partials/_star_static_bg

section#oc-features.home-features

  h1.home-features__title Every scientific consortium needs a website.

  h2.home-features__subtitle From design to website development, we provide you with an easy and simple solution for your science project. Our website software will help you to:

  .home-features__container
    .home-features__container-left
      //- Define which features to print
      - featuresWanted = ['highlight-research', 'highlight-researcher', 'visualise-consortium', 'publicise-events', 'job-offers'];
      - var featureIconPosition = "right";
      include ./_partials/_oc_features

    .home-features__container-right
      //- Define which features to print
      - featuresWanted = ['content-management-tool', 'social-media-integration', 'responsive-layout', 'promoted-content'];
      - var featureIconPosition = "left";
      include ./_partials/_oc_features

    .home-features__carousel-container
      .home-features__carousel
        include ./_partials/_screen_glow

        .home-features__carousel-cover

        - var featureImage = "true";

        .home-features__carousel-wrapper
          include ./_partials/_home_features_carousel


  a(href='/features').button.button__blue Learn more

section.home-summary
  h1.home-summary__title All in all,<br>
    span.home-summary__title__highlight open source Technology & Training&nbsp;
    span.phrase-br--medium
    |to power your Consortium

  h2.home-summary__subtitle
    |Open-source tech solutions to drive your&nbsp;
    span.phrase-br--medium
    |consortium plus manage the website&nbsp;
    span.phrase-br--medium
    |independently.

  .home-summary__title-separator

  h1.home-summary__title These are our core values

  .home-summary__values
    include ./_partials/_oc_values


  a(href='#contact-us').button.button--scroller Ready to launch?

include ./_partials/_oc_clients

section.home-activity

  .home-activity__title-wrapper
    h1.home-activity__title Transmitting

  .home-activity__content

    .home-activity__twitter
      h1.home-activity__twitter-title From Twitter
      .home-activity__twitter-content
        include ./_partials/_home_activity_twitter

    .home-activity__blog
      h1.home-activity__blog-title Get in touch with us
      .home-activity__blog-content
        include ./_partials/_oc_contact_form
