section.home-intro
  img.home-intro__logo(src='/images/home/logo-home.svg', alt='Open Consortium')
  p.home-intro__phrase
    | Your consortium website might just be your&nbsp;
    span.home-intro__phrase-br
    | most important communication tool.&nbsp;
    span.home-intro__phrase-br2
    |Make it powerful.

  a(href='#').button know more

  //a(href='#').button.button--secondary know more

section.home-features

  p.home-features__title Every scientific consortium needs a website.

  p.home-features__subtitle Check what yours might feature:

  section.home-features__container
    section.home-features__container-left
      ul.list__features-left
        li Highlight research
          span.list__features-left-icon
        li Highlight researchers

    section.home-features__container-right
    section.home-features__container-comp



section.home-summary
  p home summary



include ./_partials/_footer
