section.home-intro
  img.home-intro__logo(src='/images/home/logo-home.svg', alt='Open Consortium')
  p.home-intro__phrase
    | Your consortium website might just be your&nbsp;
    span.home-intro__phrase-br
    | most important communication tool.&nbsp;
    span.home-intro__phrase-br2
    |Make it powerful.

  a(href='#').button know more

  //a(href='#').button.button--secondary know more

section.home-features

  p.home-features__title Every scientific consortium needs a website.

  p.home-features__subtitle Check what yours might feature:

  section.home-features__container
    section.home-features__container-left
      include ./_partials/_oc_features

    section.home-features__container-right
      - var featureSide = "right";
      include ./_partials/_oc_features

    section.home-features__container-comp



section.home-summary
  p.home-summary__title All in All,<br>
    span.home-summary__title-variation open source Technology & TRAINING<br>
    |to power your consortium

  p.home-summary__subtitle
    |Open-source tech solutions to drive your&nbsp;
    span.home-intro__phrase-br
    |consortium plus manage your websites&nbsp;
    span.home-intro__phrase-br
    |independently.

  div.home-summary__title-separator

  p.home-summary__title These are our core values

  section.home-summary__values
    ul.home-summary__valueslist

  a(href='#').button Ready to launch?


section.activity-container
  p.activity-container__title transmitting
  span.activity-container__title-separator


section.clients-container
  div.client-container__separator

  p.clients-container__title Our Clients

  div.client-container__separator


include ./_partials/_home_contact_form

include ./_partials/_footer
