section.home-intro
  //- img.home-intro__logo(src='/images/home/logo-home.svg', alt='Open Consortium')
  include ./_partials/_rocket_animation

  p.home-intro__phrase
    | Your consortium website might just be your&nbsp;
    span.home-intro__phrase-br
    | most important communication tool.&nbsp;
    span.home-intro__phrase-br2
    |Make it powerful.

  a(href='/features').button Know more

  //a(href='#').button.button--secondary know more

section.home-features

  h1.home-features__title Every scientific consortium needs a website.

  h2.home-features__subtitle Check what yours might feature:

  section.home-features__container
    section.home-features__container-left
      //- Define which features to print
      - featuresWanted = ['highlight-research', 'highlight-researcher', 'visualise-consortium', 'publicise-events', 'social-media-integration'];
      - var featureIconPosition = "right";
      include ./_partials/_oc_features

    section.home-features__container-right
      //- Define which features to print
      - featuresWanted = ['content-management-tool', 'responsive-layout', 'promoted-content', 'job-offers'];
      - var featureIconPosition = "left";
      include ./_partials/_oc_features

    section.home-features__container-comp
      .home-features__container-all

        .home-features__carousel-covermac

        - var featureImage = "true";

        .home-features__carousel-wrapper
            include ./_partials/_oc_features_carousel

section.home-summary
  h1.home-summary__title All in all,<br>
    span.home-summary__title__highlight open source Technology & Training&nbsp;
    span.home-intro__phrase-br
    |to power your Consortium

  h2.home-summary__subtitle
    |Open-source tech solutions to drive your&nbsp;
    span.home-intro__phrase-br
    |consortium plus manage your websites&nbsp;
    span.home-intro__phrase-br
    |independently.

  .home-summary__title-separator

  h1.home-summary__title These are our core values

  section.home-summary__values
    include ./_partials/_oc_values


  a(href='/#home-contact-form').button Ready to launch?


section.activity__container

  .activity__container-title-wrapper
    h1.activity__container-title Transmitting

  .activity__container-content

    .activity__twitter
      h1.activity__content-title From Twitter
      .activity__twitter-content
        include ./_partials/_home_activity_twitter

    .activity__blog
      h1.activity__content-title From the blog
      .activity__blog-content
        include ./_partials/_home_activity_blog

include ./_partials/_oc_clients

section#home-contact-form
  h1.home-contact-form__title Get in touch with us
  include ./_partials/_oc_contact_form
