section.contacts__intro
  include ./_partials/_rocket_animation
  p.contacts__intro-phrase Job Offers

.contacts__context-intro
  h1.contacts__context-title No offers available at the time.
  p.contacts__context-content For other subjects please contact us via the form below.


.contacts__form-container
  include ./_partials/_oc_contact_form
