.footer-social
  include ./_social-icons

    p Follow Us

    ul.social-icons-list--large
      li.social-icons-list--large__item
        a.social-icons-list__link(target="_blank" href="https://twitter.com/openconsortium")
          svg(viewbox='0 0 20 20')
            use(href='#footer-icon-twitter')

      li.social-icons-list--large__item
        a.social-icons-list__link(target="_blank" href="https://twitter.com/openconsortium")
          svg(viewbox='0 0 20 20')
            use(href='#footer-icon-facebook')


section.marzee-labs-footer
  .marzee-labs-container
    .marzee-labs__logo
      a(href="http://marzeelabs.org/" target="_blank" alt="Marzee Labs")
        img(src='/images/home/marzeelabs-logo.svg', alt='Marzee Labs')
    .marzee-labs__title
      p © Open Consortium  is supported by&nbsp;
       a.marzee-labs__link(href="http://marzeelabs.org/" target="_blank" alt="Marzee Labs") MARZEE LABS
       |, a leading drupal development company.

footer.footer
    p.footer-bottom__info &copy; Open Consortium #{new Date().getFullYear()}


