section.marzee-labs-footer
  .marzee-labs-container
    .marzee-labs__logo
      img(src='/images/home/marzeelabs-logo.svg', alt='Marzee Labs')
    .marzee-labs__title
      p © Open Consortium  is supported by&nbsp;
       a.marzee-labs__link(href="http://marzeelabs.org/" target="_blank" alt="Marzee Labs") MARZEE LABS
       |, a leading drupal development company.

footer.footer
    p.footer-bottom__info &copy; Open Consortium #{new Date().getFullYear()}
