header
  nav.navigation__wrapper
    div(class='#{current.path[0] === "index" ? "navigation navigation--home" : "navigation"}')
      span.navigation__logo-mobile
        a(href='/')
          img(src='/images/logo.svg', alt='Open Consortium')
      .navigation__mobile-menu__toggle
        span.navigation__mobile-menu__icon
      ul.navigation__mobile-menu
        li.navigation__item
          a(href='#') Features
        li.navigation__item
          a(href='#') Blog
        li.navigation__item
          a(href='/#who-we-are') Jobs
        li.navigation__item
          a(href='#') Contacts
        li.navigation__item.navigation__right
          a(href='#') Follow us
