section.home-contact-form
  h1.home-contact-form__title Get in touch with us

  form(action="#")
    | Name: <br>
    input(type="text" value="")
    | Email: <br>
    input(type="text" name="lastname" value="")
    <br><br>
    input(type="submit" value="Submit" class="button button__blue")
