unless featureIconPosition
  - var featureIconPosition = "left";

unless featuresWanted
  - var featuresWanted = Object.keys(features);

for feature in featuresWanted
  if features[feature]
    .oc-feature(class="oc-feature--#{featureIconPosition}")
      span.oc-feature__icon(class="oc_icon-#{features[feature].icon}")
      h1.oc-feature__title #{features[feature].title}
