unless featureIconPosition
  - var featureIconPosition = "left";

unless featuresWanted
  - var featuresWanted = Object.keys(ocFeatures);

for feature in featuresWanted
  if ocFeatures[feature]
    .oc-feature(class="oc-feature--#{featureIconPosition}")
      span.oc-feature__icon(class="oc_icon-#{ocFeatures[feature].icon}")
      h1.oc-feature__title #{ocFeatures[feature].title}
