.carousel-testimonials__wrapper
  .carousel-testimonials__cell
    .clients-testimonial As scientists we have our hands fill with our research, and when confronted with the need to think in a tool to streamline our communication process, we realised we needed something that covered the grounds that Open Consortium does. We opted by this platform that allowed us to create ourselves an integrated and all around web communication experience.
    .clients-testimonial__author The Author

  .carousel-testimonials__cell
    .clients-testimonial  Our goal, in terms of a website, was to have something allowing us to manage, and populate the content ourselves at our pace. We needed to address things like social media, events and networking. We found in Open Consortium just that, a tool fit for us, manageable, intuitive, robust, that covered our needs, and on top of all that we never had lack of support.
    .clients-testimonial__author The Second Author

