.carousel-testimonials__wrapper
  .carousel-testimonials__cell
    .clients-testimonial We manage several collaborative projects and we need to promote their visibility and disseminate their results on the web. Open Consortium provides us with an easy-to-implement, tailored solution which allows us (and our collaborators) to edit and manage content in an extremely user-friendly interface. Our websites always look neat and accessible
    .clients-testimonial__author Michela Bertero, Head of International & Scientific Affairs. CRG, Barcelona

  .carousel-testimonials__cell
    .clients-testimonial Our multinational scientific collaboration was pleased to work with Open Consortium to develop both an attractive and easy-to-navigate public-facing website for our project, as well as a highly functional private intranet to support communication between our scientific researchers. Open Consortium provided us with a web presence that was very effective in augmenting our outreach and dissemination efforts.
    .clients-testimonial__author Karola Kirsanow, Project Manager BEAN network. Mainz, Germany

