.contact-form

    //- Begin contact-form Signup Form
    #mc_embed_signup
      form#mc-embedded-subscribe-form.contact-form__validate(action="https://formspree.io/info@openconsortium.eu", method="post", name="mc-embedded-subscribe-form", target="_blank", novalidate)
        #mc_embed_signup_scroll
          // real people should not fill this in and expect good things - do not remove this or risk form bot signups
          .contact-form__bot(style="position: absolute; left: -5000px;")
            input(type="text", name="", tabindex="-1", value="")

          .contact-form__inputs
            input#mce-NAME.contact-form__inputs__content(type="name", value="", name="NAME", placeholder="Your name", required)

          .contact-form__inputs
            input#mce-EMAIL.contact-form__inputs__content(type="email", value="", name="EMAIL", placeholder="Your e-mail", required)

          .contact-form__inputs
            select#select__dropdown-list(name="ROLE")
              option.pre-selected What is your role?
              option Project Manager
              option Principal Investigator
              option Researcher
              option Administrative
              option Other

          .contact-form__inputs--message-field
            textarea#mce-MESSAGE.contact-form__inputs__content(type="message", value="", name="MESSAGE", placeholder="Your message")

          .contact-form__inputs
            input#mc-embedded-subscribe.contact-form__inputs__submit(type="submit", value="SEND", name="send")




//-          label(for="mce-EMAIL")
//-            h2.contact-form__label Email me when there are new posts
