.carousel_testimonials
  .carousel-cell
    p.clients-testimonial Open Consortium gave us the opportunity to share our research openly and with ease and confidence.
    p.clients-testimonial__author The Author

  .carousel-cell
    p.clients-testimonial  Definitly the best choice for our online communication needs.<br>Amazing tool.
    p.clients-testimonial__author The Second Author

