- var featuresWanted = Object.keys(ocFeatures);

  .home-features__carousel-wrapper__carousel
    for feature in featuresWanted
      if ocFeatures[feature]
        if featureImage
          .home-features__carousel-wrapper__carousel-cell
            img(src='/images/features/feature/#{ocFeatures[feature].image}.jpg', alt='#{ocFeatures[feature].title.toLowerCase().replace(" ", "-")}', title='#{ocFeatures[feature].title}')



