h1 Check some of our projects

  .portfolio-carousel__container

    .portfolio-composite

      .portfolio-carousel__cover

      .portfolio-carousel__wrapper

          .portfolio-carousel

            for image in public.images.features.feature._contents

              .portfolio-carousel__cell

                img(src="images/features/feature/#{ image }")
