h1 Some of our projects:

  .portfolio-carousel__container

    .portfolio-composite

      .portfolio-carousel__cover

      .portfolio-carousel__wrapper

          .portfolio-carousel

            for image in public.images.portfolio._contents

              .portfolio-carousel__cell

                img(src="images/portfolio/#{ image }")
