//- Meta information for a post.
//- Uses the member variable information and the date
//-
//- If the postFooterImage variable is set also prints the member avatar
//-
//- If the variable postFooterTags is assigned (usually with values from the metadata),
//- it also prints the post's tags

.post__footer
  if postFooterTags
    .post__footer-tags
      each postTag, postTagIndex in postFooterTags
        if (postTagIndex > 0)
          |&nbsp;&nbsp;
        span(href="##{postTag}")!= postTag
