.rocket-animation__container
    .rocket-animation
      img.rocket-animation__outter-line(src="/images/home/anim_logo_home/outer_line.svg")
      img.rocket-animation__inner-line(src="/images/home/anim_logo_home/iner_line.svg")
      img.rocket-animation__rocket(src="/images/home/anim_logo_home/rocket_isolated.svg")
      img.rocket-animation__fire-rocket(src="/images/home/anim_logo_home/fire_rocket.svg")
    img.rocket-animation__lettering(src="/images/home/anim_logo_home/lettering.svg")
