.rocket-animation-404__container
  .rocket-animation-404
    img.rocket-animation-404__rocket(src="/images/home/anim_404/rocket.svg")
    img.rocket-animation-404__fire-rocket(src="/images/home/anim_404/fire_rocket.svg")
