/*@import url(http://fonts.googleapis.com/css?family=Lato);*/

@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);


/* jquery.tweet */
.tweet,
.query {

}

.tweet_list {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
  
.tweet_list li {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5em;
  list-style-type: none;
}

.tweet_list li a {
}

.tweet_list .tweet_even {
}

.tweet_list .tweet_avatar {
  padding-right: .5em; float: left;
}

.tweet_list .tweet_avatar img {
  vertical-align: middle;
}

#tweet ul.tweet_list {
  height:4em;
  overflow-y:hidden;
}
#tweet .tweet_list li {
  height: 4em;
}

/* TEMP */
#myCarousel {
  display: none;
}

#twitter-url {
  float:right
}


body {
  font-family: 'Lato', sans-serif;
  padding-top: 60px;
  padding-bottom: 40px;
}

p {
  font-family: 'Lato', sans-serif;
}

.hero-unit {
  padding: 0px;
}



#map {
  border:1px solid #CCCCCC;
  height:300px;
  margin-bottom:20px;
}

.btn-right {
  float: right;
}


/* blog ======================================================== */
ul.thumbnails .thumbnail .thumb {
  width: 150px;
  height: 100px;
  box-shadow: inset rgba(0, 0, 0, .25) 0px 0px 40px;
  -moz-box-shadow: inset rgba(0,0,0,.25) 0px 0px 40px;
  -webkit-box-shadow: inset rgba(0, 0, 0, .25) 0px 0px 40px;
  
  overflow: hidden;
  text-indent: -999px;
  display: block;
  background: white 50% 50% no-repeat;

  margin-left: auto;
  margin-right: auto;
}


/* Styles shamelessly ripped off from http://developmentseed.org/ */

.thumb {
  overflow:hidden;
  text-indent:-999px;
  display:block;
  background:#fff 50% 50% no-repeat;
  }

.follow > .title {
  display:block;
  margin:0px 0px 10px;
  }

.follow .tweets {
/*  position:relative;*/
  border-top:1px solid #ccc;
  padding-top:19px;
  margin:10px 0px 0px;
/*  width:156px;*/
  opacity:0;
  transition:opacity .5s;
  -moz-transition:opacity .5s;
  -webkit-transition:opacity .5s;
}  

.follow .tweets.loaded { opacity:1; }

.follow .tweet {
  width:48px;
  height:48px;
  margin:0px 4px 4px 0px;
  float:left;
  position:relative;
  }

.follow .tweet .thumb {
  width:48px;
  height:48px;
  }

.follow .tweet .caret {
  display:none;
  position:absolute;
  right:45px;
  top:10px;
  width:10px;
  height:20px;
  background:url(../img/sprite.png) -130px -90px no-repeat;
  }


.follow .tweet .popup {
  display:none;
  position:absolute;
  right:55px;
  top:-5px;
  width:180px;
  padding:5px 20px 5px 10px;
  background:#000;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  }

.follow a.tweet * { color:#fff; }

.follow .tweet:hover { z-index:1; }
.follow .tweet:hover .caret,
.follow .tweet:hover .popup { display:block; }

.follow .title { font-size:18px; }


















