/*@import url(http://fonts.googleapis.com/css?family=Lato);*/

@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);


/* jquery.tweet */
.tweet,
.query {

}

.tweet_list {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
  
.tweet_list li {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5em;
  list-style-type: none;
}

.tweet_list li a {
}

.tweet_list .tweet_even {
}

.tweet_list .tweet_avatar {
  padding-right: .5em; float: left;
}

.tweet_list .tweet_avatar img {
  vertical-align: middle;
}

#tweet ul.tweet_list {
  height:4em;
  overflow-y:hidden;
}
#tweet .tweet_list li {
  height: 4em;
}

/* TEMP */
#myCarousel {
  display: none;
}

#twitter-url {
  float:right
}


body {
  font-family: 'Lato', sans-serif;
  padding-top: 60px;
  padding-bottom: 40px;
}

p {
  font-family: 'Lato', sans-serif;
}

.hero-unit {
  padding: 0px;
}

#map {
  border:1px solid #CCCCCC;
  height:300px;
  margin-bottom:20px;
}

.btn-right {
    float: right;
}