/*@import url(http://fonts.googleapis.com/css?family=Lato);*/

@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);



/* TEMP */
#myCarousel {
  display: none;
}

#twitter-url {
  float:right
}


body {
  font-family: 'Lato', sans-serif;
  padding-top: 60px;
  padding-bottom: 40px;
}

p {
  font-family: 'Lato', sans-serif;
}

.home .hero-unit {
  padding: 0px;
}

#map {
  border:1px solid #CCCCCC;
  height:300px;
  margin-bottom:20px;
}

.btn-right {
  float: right;
}

.navbar .brand-logo {
  margin: 0 10px 0 -20px;
  padding: 0;
}

/* twitter ===================================================== */
.twitter-url-container {

}
.twitter-url {
  float: right;
  line-height: 40px;
  font-size: 20px;
  font-weight: 200;
  color: #777;
  text-shadow: 0 1px 0 white;
}
@media only screen and (max-width: 980px) {
  .twitter-url {
    margin-right: 10px;
  }
}


#twitter-widget-0 {
  width: 100%;
}

/* blog ======================================================== */
ul.thumbnails .thumbnail .thumb {
  width: 150px;
  height: 100px;
  box-shadow: inset rgba(0, 0, 0, .25) 0px 0px 40px;
  -moz-box-shadow: inset rgba(0,0,0,.25) 0px 0px 40px;
  -webkit-box-shadow: inset rgba(0, 0, 0, .25) 0px 0px 40px;

  overflow: hidden;
  text-indent: -999px;
  display: block;
  background: white 50% 50% no-repeat;

  margin-left: auto;
  margin-right: auto;
}


/* Styles shamelessly ripped off from http://developmentseed.org/ */

.thumb {
  overflow:hidden;
  text-indent:-999px;
  display:block;
  background:#fff 50% 50% no-repeat;
  }

.follow > .title {
  display:block;
  margin:0px 0px 10px;
  }

.follow .tweets {
/*  position:relative;*/
  border-top:1px solid #ccc;
  padding-top:19px;
  margin:10px 0px 0px;
/*  width:156px;*/
  opacity:0;
  transition:opacity .5s;
  -moz-transition:opacity .5s;
  -webkit-transition:opacity .5s;
}

.follow .tweets.loaded { opacity:1; }

.follow .tweet {
  width:48px;
  height:48px;
  margin:0px 4px 4px 0px;
  float:left;
  position:relative;
  }

.follow .tweet .thumb {
  width:48px;
  height:48px;
  }

.follow .tweet .caret {
  display:none;
  position:absolute;
  right:45px;
  top:10px;
  width:10px;
  height:20px;
  background:url(../img/sprite.png) -130px -90px no-repeat;
  }


.follow .tweet .popup {
  display:none;
  position:absolute;
  right:55px;
  top:-5px;
  width:180px;
  padding:5px 20px 5px 10px;
  background:#000;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  }

.follow a.tweet * { color:#fff; }

.follow .tweet:hover { z-index:1; }
.follow .tweet:hover .caret,
.follow .tweet:hover .popup { display:block; }

.follow .title { font-size:18px; }

.facebook {
  border-top: 1px solid #CCCCCC;
  margin: 10px 0 0;
  padding-top: 19px;
  height: 50px;
}

.label a, .btn a {
    color: #FFFFFF;
    text-decoration: none;
}

.label a:hover, .btn a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.well address {
  margin-bottom: 0px;
}

/* leaflet */

.leaflet-popup-content {
  font: 14px/1.4 'Lato',sans-serif;
}
.leaflet-popup-content-wrapper {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.leaflet-popup-content {
  margin: 15px;
}

.leaflet-container {
  border:1px solid #CCCCCC;
  height:300px;
  margin-bottom:20px;
}

.leaflet-container a.btn {
    color: #FFFFFF;
}

.teaser {
  font-size: 1.1em;
}

.teaser a, .teaser-home a {
  display: block;
  color: #000000;
  text-decoration: none;
}

.tags-teaser li {
  display: inline;
  list-style-type: none;
  padding-right: 5px;
}


.tags-teaser ul, .tags ul {
  margin: 5px 0 5px 0;
  padding: 0;
}

.tags > ul {
  list-style: none;
}

.more-link {
  text-align: right;
}

#products .span6 h2,
#talk .span6 h2,
#clients .span12 h2 {
  text-align: center;
}

#products .more-link {
  font-weight: bold;
  text-align: center;
}

#slogan {
  text-align: center;
}

.slogan-text {
  font-size: 20px;
}


#slogan .btn {
/*  color: #FFFFFF;*/
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0;
  padding: 12px 26px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.navbar a.brand-img {
/*    color: #FFFFFF;*/
    display: block;
    float: left;
/*    font-size: 20px;*/
/*    font-weight: 200;*/
/*    line-height: 1;*/
    margin-left: -20px;
    margin-right: 20px;
/*    padding: 8px 20px 12px;*/
    padding: 0;
}

.author-block img {
  margin-top: 10px;
}


/* clients */

#clients ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#clients ul li {
  list-style: none outside none;
  display: inline-block;
  vertical-align: middle;
  *zoom: 1;
  margin: 10px 20px;
}
#clients a {
  display: block;
  background: url(../../../images/clients.png) no-repeat 0 0;
  height: 60px;
  text-indent: -999px;
  overflow: hidden;
}
#clients a.crg {
  width: 116px;
  background-position: 0 0;
}
#clients a.embl {
  width: 140px;
  background-position: -140px 0;
}
#clients a.hospital-clinic {
  width: 108px;
  background-position: -310px 0;
}
#clients a.universitat-mainz {
  width: 120px;
  background-position: -646px 0;
}
#clients a.jgu-giessen {
  width: 66px;
  background-position: -800px 0;
}



/* For Leaflet plugins, if used */

.leaflet-control-zoom-fullscreen { background-image: url(../img/icon-fullscreen.png); }
.leaflet-control-zoom-fullscreen.last { margin-top: 5px }


#leaflet-control-geosearch-qry {
  margin-bottom: 0px;
}

