<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    {% include JB/comments %}
  </div>
  
  <div class="span4">
    <h4>Published</h4>
    {% include themes/oc/blog_author.html  %}

    {% unless page.tags == empty %}
      <h4>Tags</h4>
      <ul class="tag_box">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
      </ul>
    {% endunless %}
  
    <div class="pagination">
      <ul>
      {% if page.previous %}
        {% assign prev = page.previous %}

        {% unless prev.category == page.category %}
          {% assign prev = prev.previous %}
        {% endunless %}
        
        {% if prev.category == page.category %}
          <li class="prev"><a href="{{ BASE_PATH }}{{ prev.url }}" title="{{ prev.title }}">&larr; Previous</a></li>
        {% else %}
          <li class="prev disabled"><a>&larr; Previous</a></li>
        {% endif %}
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        {% assign next = page.next %}

        {% unless next.category == page.category %}
          {% assign next = next.next %}
        {% endunless %}
      
        {% if next.category == page.category %}
          <li class="next"><a href="{{ BASE_PATH }}{{ next.url }}" title="{{ next.title }}">Next &rarr;</a></li>
        {% else %}
          <li class="next disabled"><a>Next &rarr;</a>
        {% endif %}
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>  
  </div>
</div>
