<!-- Find current author -->
{% for author in site.categories.team %}
  {% if author.author == page.author %}
    {% assign author_curr = author %}
  {% endif %}  
{% endfor %}

<div class="row">
  <div class="span2 author-block">
    <a href="/{{ author_curr.permalink }}">
      <img src="{{ author_curr.avatar }}_q.jpg" alt="{{ author_curr.title | downcase | replace: ' ', '-'}}" title="{{ author_curr.title }}" class="img-polaroid" width="120" height="120" />
    </a> 
    <h5>{{ author_curr.title }}</h5>
    <div class="date">{{ page.date | date_to_long_string }}</div>

    {% unless page.tags == empty %}
    <br/>
    <div class="tags">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </div>
    {% endunless %}
  </div>
  
  <div class="span7">
    <div class="row">
      <h1>{{ page.title }}</h1> 
      {{ content }}
    </div>
    <hr>
    <div class="row">
      <div class="short-bio">
        {{ author_curr.short_bio }} 
        Follow {{ author_curr.title }} at <a href="http://twitter.com/{{ author_curr.twitter }}">twitter.com/{{ author_curr.twitter }}</a>.
      </div>
    </div>
    <hr>
    <div class="row">
      <ul class="pager">
      {% if page.previous %}
        {% assign prev = page.previous %}

        {% unless prev.category == page.category %}
          {% assign prev = prev.previous %}
        {% endunless %}
      
        {% if prev.category == page.category %}
          <li class="previous"><a href="{{ BASE_PATH }}{{ prev.url }}" title="{{ prev.title }}">&larr; Older</a></li>
        {% else %}
          <li class="previous disabled"><a>&larr; Older</a></li>
        {% endif %}
      {% else %}
        <li class="next disabled"><a>&larr; Newer</a></li>
      {% endif %}
        <!-- <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li> -->
      {% if page.next %}
        {% assign next = page.next %}

        {% unless next.category == page.category %}
          {% assign next = next.next %}
        {% endunless %}
    
        {% if next.category == page.category %}
          <li class="next"><a href="{{ BASE_PATH }}{{ next.url }}" title="{{ next.title }}">Newer &rarr;</a></li>
        {% else %}
          <li class="next disabled"><a>Newer &rarr;</a>
        {% endif %}
      {% else %}
        <li class="next disabled"><a>Newer &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    <div class="row">
      {% include JB/comments %}
    </div>
  </div>
  
  <div class="span3">    
    <div class="follow">
      <h5>Let's start a conversation</h5>      
      <div class="twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a>
      </div>
      <div class="facebook">        
        <div class="fb-like" data-send="true" data-width="250" data-show-faces="true"></div>
      </div>
    </div>
  
  </div>
</div>

