{% include themes/oc/tag_head.html %}

<body>

  <div class="container">

    <div class="content">
      {{ content }}
    </div>

  </div> <!-- /container -->

</body>
  
{% include themes/oc/tag_footer.html %}


<!-- JAVASCRIPT -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery CDN'd -->
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<!-- Twitter Bootstrap -->
<script src="{{ site.LIB_PATH }}/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery.tweet -->
<script src="{{ site.LIB_PATH }}/tweet/jquery.tweet.js"></script>
<!-- custom JS -->
<script src="{{ ASSET_PATH }}/js/scripts.js"></script>

</html>
