{% include themes/oc/tag_head.html %}

<body data-spy="scroll" class="{{ page.category }}">

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a id="twitter-url" href="http://twitter.com/{{ site.oc.twitter }}" rel="" title="@{{ site.oc.twitter }}" class="brand">
          Follow @{{ site.oc.twitter }}
        </a>
      </div>
    </div>
  </div>


  <div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <center>
        <img src="{{ site.IMG_PATH }}/oc_logo_600.png" alt="openconsortium-logo"/>
      </center>
    </div>

    <div class="content">
      {{ content }}
    </div>

  </div> <!-- /container -->

</body>
  
{% include themes/oc/tag_footer.html %}


<!-- JAVASCRIPT -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery CDN'd -->
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<!-- Twitter Bootstrap -->
<script src="{{ site.LIB_PATH }}/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery.tweet -->
<script src="{{ site.LIB_PATH }}/tweet/jquery.tweet.js"></script>
<!-- custom JS -->
<script src="{{ ASSET_PATH }}/js/scripts.js"></script>

</html>
